* {
	margin:0 0;
	padding:0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

body {
	margin: 0;
}

.navbar {
	width: 100%;
	height: 30px;
	top: 0;
	left: 0;
	background-color: #333;
	display: block;
	float: left;
}

.navbar a {
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	float: left;
	text-align: center;
	text-decoration: none;
}

.navbar a.right {
	float: right;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

.navbar a.active {
	pointer-events: none;
	padding-left: 0;
	padding-right: 0;
	width: 300px;
	background-color: #33266e;
	color: white;
}

.wrap {
	color: white;
	position: absolute;
	top: 30px;
	right: 0;
	left: 0;
	bottom: 0;
	height: calc(100%-30px);
}

.fleft {
	display: block;
	float: left;
	background-color: #33266e;
	height: 100%;
	width: 300px;
	top: 30px;
	bottom: 0;
	left: 0;
}

.fright {
	display: block;
	float: left;
	background-image:url(../images/background/background.png);
	background-repeat:repeat;
	background-size:cover;
	height: 100%;
	width: calc(100% - 300px);
	top: 30px;
	bottom: 0;
	right: 0;
}

.box {
	width: 80%;
	height: 500px;
    	margin-left: auto;
    	margin-right: auto;
	padding: 1em;
}

.buttonstyle { 
	background: #666;
	color: #ffffff;
	width: 200px;
}

.buttonstyle:hover {
	background: white;
	color: #000000;
}
